<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="date=no" />
    <title>搜索问答</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />

</head>
<style>
    html,
    body {
        background: rgba(246, 246, 246, 1);
    }
</style>

<body>
    <div class="vueApp" v-cloak>
        <div class="space"></div>
        <div class="question_list" v-if="listData.length>0">
            <div class="question_item" v-for="item in listData" tapmode @click="fnOpenPublicWin('问答标题','index/question_detail',{articleId:1})">
                <div class="question_item_title overflow_hidden_one">
                    比地球自转还快的超音速客机！创下多个世界纪录
                </div>
                <div class="question_item_info">
                    <span class="overflow_hidden_three">
                      从2015年4月起，Ant Design在蚂蚁金服中后台产品线迅速推广，对接多条业务线，覆盖系统 800 个以上。定位于中台业务的 Ant Design 兼顾专业和非…
                  </span>
                    <img src="../../image/index/Mask.png" alt="">
                </div>
                <div class="question_item_attr">
                    <div class="question_item_attr_item" style="margin-right: auto;"><img src="../../image/index/t3.jpg" alt="">常霞</div>

                    <div class="question_item_attr_item" style="margin-right:1.2rem;"><img src="../../image/index/commend_icon.png" alt="">1.23K</div>
                    <div class="question_item_attr_item"><img src="../../image/index/comment_icon.png" alt="">1.2w</div>
                </div>
            </div>
        </div>
        <div v-if="listData.length==0">
            <div class="no_data">
                <img :src="isSerach=='1'?'../../image/no_page/no_search.png':'../../image/no_page/no_information.png'" alt="">
                <p v-text="isSerach=='1'?'没有搜到相关内容，换个关键词试试吧':'暂无资讯'"></p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>
<script type="text/javascript" src="../../script/service/service-app.js"></script>
<script type="text/javascript" src="../../script/service/service-tool.js"></script>
<script type="text/javascript" src="../../script/service/service-user.js"></script>
<script type="text/javascript" src="../../script/service/service-login.js"></script>
<script type="text/javascript" src="../../script/service/service-verify.js"></script>
<script type="text/javascript">
    var USER;
    var $S;
    var vm;
    apiready = function() {
        USER = USER();
        $S = SERVICE();
        fnInit();
        api.addEventListener({
            name: 'searchVal'
        }, function(ret, err) {
            if (ret) {
                if (ret.value.winName == api.winName) {
                    vm.searchVal = ret.value.searchVal;
                    fnInitPage();
                }
            }
        });
    }

    function fnInit() {
        vm = new Vue({
            el: ".vueApp",
            data: {
                searchVal: api.pageParam.searchVal || '',
                isSerach: api.pageParam.isSerach || '0',
                listData: [{
                    id: "1"
                }, {
                    id: "2"
                }],
            }
        })
    }

    function fnInitPage() {
        $S.ShowProgress();
        var postData = {};
        $S.POST("", postData, function(ret, err) {
            if (ret && ret.status == '200') {

            }
            $S.CloseProgress();
        })
    }
</script>

</html>
